* {
	font-family: 'Roboto', sans-serif;
}
.App header h1 {
	text-align: center;
}
.App form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.App .code-output {
	max-width: 500px;
	background-color: #fff;
	padding: 20px;
	border: 1px solid #eee;
}

.code-cell {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
}

.code-cell__item.code-output {
	background-color: #fff;
}

.code-cell__item.preview-wrapper {
	position: relative;
	height: 100%;
	flex-grow: 1;
}

.editor-wrapper {
	width: 100%;
	height: 100%;
}

.code-cell .react-resizable {
	display: flex;
	z-index: 100;
}
